.highlight {
    max-width: 800px; /* Changez cette valeur en fonction de vos préférences */
    margin-left: auto;
    margin-right: auto;
}

.highlight pre {
    max-width: 800px; /* Changez cette valeur en fonction de vos préférences */
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px; /* Arrondit les coins du cadre */
    padding: 8px; /* Augmente le padding à l'intérieur du cadre */
}

code.has-jax {font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}
  

pre code{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px; /* Arrondit les coins du cadre */
    padding: 8px; /* Augmente le padding à l'intérieur du cadre */
}

.component-content.component ul {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.component-content.component ul li {
    margin-bottom: 10px;
}