<head>
    <title>Erreur 404</title>
    <link rel="icon" href="{{ "icons/404_icon.ico" | relURL }}">
    <link href="https://romainmellaza.fr/css/404.css" type="text/css" rel="stylesheet">
</head>
<body>
    <section class="notFound">
        <div class="img">
        <img src="https://romainmellaza.fr/img/404/bot.jpeg"/>
        </div>
        <div class="text">
        <h1>404</h1>
        <h2>PAGE NON TROUVEE</h2>
        <h3>Retourner à l'accueil ?</h3>
        <a href="https://romainmellaza.fr" class="yes">OUI</a>
        <a>NON</a>
        </div>
    </section>
</body>